# Ignore development & source files
.vscode/
src/
test/
*.ts
*.map

# Ignore package manager & build files
node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json
tsconfig.json
eslint.config.mjs

# Ignore build/test helpers
.vscode-test/
.vscode-test.*
out/test/
.vscodeignore
*.log

# Optional: Ignore docs or starter files
vsc-extension-quickstart.md
